extends layout

block content
    div(class="jumbotron")
        div(class="container-fluid")
            div(class="row")
                div(class="col-sm-2")
                div(class="col-sm-8") 
                    h5 Nullam ultrices pretium convallis. Ut at euismod risus. Aliquam dignissim lacus eget imperdiet bibendum. Vestibulum eget gravida est. Donec molestie eleifend magna, et imperdiet leo bibendum at. Aliquam semper rhoncus orci, in congue velit malesuada non. Nulla efficitur neque lacinia sem mollis, vel hendrerit sapien sollicitudin. Duis sed semper nunc.
                                    
                div(class="col-sm-2")
