extends layout

block content
    div(class="jumbotron")
        div(class="container")
            div(class="row")
                div(class="col-sm-4 text-left") 
                    a(href="#" class="inactive1") All employees | 
                    a(href="#" class="inactive2") 249 employees   
                div(class="col-sm-8 text-right") 
                    div(class="dropdown btn-group form-group") 
                        button(class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown") All
                            span(class="caret")
                        ul(class="dropdown-menu")
                            li(role="presentation") 
                                a(href="#") Clear
                            li(role="presentation") 
                                a(href="#") Consider
                        input(class="btn btn-default btn-xs btn-group" placeholder="Search" size="20")
                        button(class="btn btn-default btn-xs btn-group" type="submit")
                            i(class="glyphicon glyphicon-search")
                    div(class="dropdown btn-group form-group")
                        button(class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown") Filter 
                            span(class="caret")
                        ul(class="dropdown-menu")
                            li(role="presentation") 
                                a(href="#") Provider
            div(class="row")
                div(class="col-sm-12") 
                    table(class="table table-hover table-responsive")
                        thead  
                            tr
                                th Status       
                                th Name
                                th Updated
                                th Title
                                th Location
                        tbody
                            if employee_list.length
                                each employee in employee_list
                                    tr  
                                        td
                                            if employee.status
                                                button(type="button" class="btn btn-success btn-sm btn-block" onClick="return false;") Clear
                                            else
                                                button(type="button" class="btn btn-danger btn-sm btn-block" onClick="return false;") Review
                                        td #{employee.firstName} #{employee.lastName}
                                        td 2017-09-07
                                        td #{employee.title}    
                                        td #{employee.city}
                    table(class="table table-responsive")
                        tbody
                            tr
                                td(colspan="5" class="text-right") 
                                    span(class="glyphicon glyphicon-step-backward" aria-hidden="true")   
                                    span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
                                    span(class="glyphicon glyphicon-chevron-right" aria-hidden="true") 
                                    span(class="glyphicon glyphicon-step-forward" aria-hidden="true")       