extends layout

block content
  div(class='jumbotron text-center')
    h1= title
    p We specialize in background checks.

    form(class="form-inline")
      div(class="input-group")
        input(type="email" class="form-control" size="50" placeholder="Name" required)
        div(class="input-group-btn")
          button(type="button" class="btn btn-danger") Search
    p
    if error
        p Error getting dynamic content.
    else
      p The catalog has the following record counts:
      p OIG: !{data.oig_count}
      p SAM: !{data.sam_count}