extends layout

block content
  div(class='jumbotron text-center')
    div(class="jumbotron")
        div(class="container-fluid")
            div(class="row")
                div(class="col-sm-2")
                div(class="col-sm-8")  
                      h1= title
                      h5(class="text-left") "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                      p
                      form(class="form-inline" method='POST' action='')
                        div(class="input-group")
                          input(type="text" class="form-control" size="50" placeholder="Name" required)
                          div(class="input-group-btn")
                            button(type="button" class="btn btn-danger") Search
                      p
                div(class="col-sm-2")
            div(class="row")
              div(class="col-sm-2")
              div(class="col-sm-8")  
                if error
                  p Error getting dynamic content.
                else
                  h5 The catalog has the following record counts:
                  h5 OIG: !{data.oig_count}
                  h5 SAM: !{data.sam_count}
              div(class="col-sm-2")
            div(class="row")
              div(class="col-sm-12 text-left" id="dataresults") 
                if errors 
                  ul
                    for error in errors
                      li!= error.msg 