doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css")
    script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav(class='navbar navbar-default navbar-fixed-top')
      div(class='container')
        div(class='navbar-header')
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar") 
          a(class='navbar-brand', href='#')
        div(class="collapse navbar-collapse" id="myNavbar")
          ul(class='nav navbar-nav navbar-right')
            li 
              a(href='/catalog') HOME
            li 
              a(href='/catalog/candidate') CANDIDATES
            li 
              a(href='/catalog/about') ABOUT

    block content